@page
@model TutorDemand.RazorWebApp.Pages.TeachingSchedules.Create

@{
    var daysOfWeek = new List<(string Label, string Value)>
    {
        ("Thứ 2", "Monday"), ("Thứ 3", "Tuesday"), ("Thứ 4", "Wednesday"), ("Thứ 5", "Thursday"), ("Thứ 6", "Friday"), ("Thứ 7", "Saturday"), ("Chủ Nhật", "Sunday"),
    };
}

<form method="post" enctype="multipart/form-data" class="pt-6">
    <h2 class="font-bold text-3xl">Tạo lịch học</h2>
    <hr/>

    <div class="flex items-center gap-x-6 mt-4">
        <div class="flex flex-col gap-y-2">
            <div class="flex items-center gap-x-2">
                <label asp-for="TeachingSchedule.SubjectId" class="text-lg font-medium">Môn học</label>
                <select asp-for="TeachingSchedule.SubjectId" asp-items="Model.SelectListSubject" class="border rounded-md py-2 px-3">
                    <option selected disabled>Chọn môn học</option>
                </select>
            </div>
            <span asp-validation-for="TeachingSchedule.SubjectId" class="text-danger d-block"></span>
        </div>

        <div class="flex flex-col gap-y-2">
            <div class="flex items-center gap-x-2">
                <label asp-for="TeachingSchedule.TutorId" class="text-lg font-medium">Giảng viên</label>
                <select asp-for="TeachingSchedule.TutorId" asp-items="Model.SelectListTutor" class="border rounded-md py-2 px-3">
                    <option selected disabled>Chọn giảng viên</option>
                </select>
            </div>
            <span asp-validation-for="TeachingSchedule.TutorId" class="text-danger d-block"></span>
        </div>

        <div class="flex flex-col gap-y-2">
            <div class="flex items-center gap-x-2">
                <label asp-for="TeachingSchedule.SlotId" class="text-lg font-medium">Slot</label>
                <select asp-for="TeachingSchedule.SlotId" asp-items="Model.SelectListSlot" class="border rounded-md py-2 px-3">
                    <option selected disabled>Chọn slot</option>
                </select>
            </div>
            <span asp-validation-for="TeachingSchedule.SlotId" class="text-danger d-block"></span>
        </div>
    </div>


    <div class="flex flex-col gap-y-3 mt-4">
        <div class="flex flex-col gap-y-2">
            <label asp-for="TeachingSchedule.MeetRoomCode" class="text-lg font-medium"></label>
            <input asp-for="TeachingSchedule.MeetRoomCode" class="bg-transparent py-2 px-4 rounded-lg border border-slate-300 outline-none focus:border-primary focus:border-2 focus:invalid:border-danger"/>
            <span asp-validation-for="TeachingSchedule.MeetRoomCode" class="text-danger"></span>
        </div>
        <div class="flex flex-col gap-y-2">
            <label asp-for="TeachingSchedule.RoomPassword" class="text-lg font-medium"></label>
            <input asp-for="TeachingSchedule.RoomPassword" class="bg-transparent py-2 px-4 rounded-lg border border-slate-300 outline-none focus:border-primary focus:border-2"/>
            <span asp-validation-for="TeachingSchedule.RoomPassword" class="text-danger"></span>
        </div>
        
        <div class="flex gap-x-4">
            <div class="flex flex-col gap-y-2">
                <label asp-for="TeachingSchedule.StartDate" class="text-lg font-medium"></label>
                <input asp-for="TeachingSchedule.StartDate" type="date" class="bg-transparent py-2 px-4 rounded-lg border border-slate-300 outline-none focus:border-primary focus:border-2"/>
                <span asp-validation-for="TeachingSchedule.StartDate" class="text-danger"></span>
            </div>
            <div class="flex flex-col gap-y-2 items-stretch">
                <label asp-for="TeachingSchedule.EndDate" class="text-lg font-medium"></label>
                <input asp-for="TeachingSchedule.EndDate" type="date" class="bg-transparent py-2 px-4 rounded-lg border border-slate-300 outline-none focus:border-primary focus:border-2"/>
                <span asp-validation-for="TeachingSchedule.EndDate" class="text-danger"></span>
            </div>
        </div>


        <div class="flex flex-col gap-y-3">
            <label asp-for="TeachingSchedule.LearnDays" class="text-lg font-medium"></label>
            <div class="flex flex-wrap gap-6 flex-row">
                @foreach (var day in daysOfWeek)
                {
                    <div class="flex items-center gap-x-2">
                        <input type="checkbox" id="@day" name="SelectedDays" value="@day.Value"
                               @(Model.SelectedDays.Contains(day.Value) ? "checked" : "") class="size-6 accent-primary"/>
                        <label for="@day" class="flex items-center gap-x-2 text-lg">
                            @day.Label
                        </label>
                    </div>
                }
            </div>
            <span asp-validation-for="TeachingSchedule.LearnDays" class="text-danger"></span>
        </div>
    </div>

    <div class="flex justify-end gap-x-4">
        <a asp-page="/teachingschedules/index" class="py-2 px-4 rounded-lg border border-primary text-primary bg-gray-100 w-32 cursor-pointer hover:opacity-85 text-center">
            Trở về danh sách
        </a>
        <button type="submit" class="py-2 px-4 rounded-lg bg-primary w-32 text-white cursor-pointer hover:opacity-85">Tạo</button>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}